#result iframe {
    width: 100%;
    margin-top: 30px;
    border: none;
    height: 600px;
}

textarea.markdown {
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    border-top: 0;
}
.tab-pane .well{
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: white;
    box-shadow: none;
}
.select2{
    min-width: 300px !important;
}
.select2-selection{
    height: 34px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {º
    line-height: 34px!important;
}
