<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pivotal Reports</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="colspan-xs-12">
          <div class="jumbotron">
            <h1>Pivotal Reports</h1>
            <a href="reports/daily" class="btn btn-default">Daily report</a>
            <a href="reports/weekly" class="btn btn-default">Weekly report</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
