{% extends "base.html" %}

{% block stylesheets %}
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script src="/static/jquery/jquery.min.js" charset="utf-8"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/static/api-client.js" charset="utf-8"></script>
  <script type="text/javascript">
    var pivotal = new Pivotal();
  </script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-file-text-o"></i> Pivotal Tracker Reports</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signout"><i class="fa fa-sign-out"></i> Sign out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {% block main %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
