{% extends "base.html" %}

{% block stylesheets %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/select2/css/select2.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/load-awesome/css/ball-climbing-dot.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script src="/static/jquery/jquery.min.js" charset="utf-8"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/static/select2/js/select2.min.js" charset="utf-8"></script>
  <script src="/static/api-client.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div id="container">
<div class="principal">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img class="logo" src="/static/logo.png" alt="logo claudio.dcv"> Pivotal Tracker Reports</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signout"><i class="fa fa-sign-out"></i> Sign out</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% block main %}{% endblock %}
        </div>
      </div>
  </div>
</div>
<footer>
    create by: <a href="https://github.com/claudioDcv">claudioDcv</a> & <a href="https://github.com/jesusgoku">jesusgoku</a>
</footer>
</div>
{% endblock %}
